:root {
  --primary: #aebd38ff;
  --secondary: #188b7d;
  --tertiary: #f46036;
  --quatrinary: #598234ff;
  --light: #ffffff;
  --dark: #031620;
  --border-radius: 15px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.login-card,
.signup-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  
 
  padding: 5px;
  border: 1px solid var(--dark); 
  border-radius: var(--border-radius);
  border-width: thick;
  background-color: var(--primary);
  color: var(--light);
}



.form-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.form-group button {
  background-color: var(--quatrinary);
  color: var(--light);
  border-radius: 7px;
  margin: 15px;
}

