:root {
  --primary: #68829E;
  --secondary: #188b7d;
  --tertiary: #f46036;
  /* used for btn class bootstrap */
  --quatrinary: #505160;
  --light: #ffffff;
  --dark: #031620;
  --border-radius: 15px;
}

.login-card,
.signup-card {
  font-size: 1.5rem;
  padding: 5px;
  border: 1px solid var(--dark); 
  border-radius: var(--border-radius);
  border-width: thick;
  background-color: var(--primary);
  color: var(--light);
}

.form-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.form-group button {
  background-color: var(--quatrinary);
  color: var(--light);
  border-radius: 7px;
  margin: 20px;
}

/* for landscape image */
.hero { 
  background-image: url("../src/assets/images/pexels-kehn-hermano-5962574.jpg");
  background-attachment: fixed;
  padding: 20px;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

/* space between header and displaypage() aka page content */
header {
  margin-bottom: 50px;
}

header span {
  color: white;
  font-size: 20px;
};


html * {
  font-family: 'Montserrat';
}

h1, h2, h3, h5 {
  font-size: 45px;
  color: white;
}

/* page content div for padding */
.content {
 padding: 10px 25px;
}



/*for current page */
header .active-page {
  border-bottom: 3px solid white;
}

.ticket-title{
  color: white;
}

.ticket-header {
  background-color: var(--primary);
  padding: 20px;
}



/*make checkbox bigger*/
input[type="checkbox" i]  {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.ticket {
  margin-bottom: 20px;
}

header .btn:hover {
  color: white;
  border-bottom: 3px solid white
}
header a {
  text-decoration: none;
  color: white;
}


header a.btn {
  font-size: 20px;
  color: white;

}

header a:hover {
  color: white;
}

/* Applys to under 1200px  */
@media only screen and (max-width: 1200px) {
  div.test {
    padding: 25px;
    background-color: rgb(0,0,0,60%);
  }
}

/* @media only screen and (min-width: 792px) {
  .mobile-menu {
    display: none;
  }
} */

/* mobile menu start at 792px and below
@media only screen and (max-width: 792px) {
  .menu {
    display: none;
  }
  .content {
    padding: 10px;
  } 

 } */